*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #222;
}
:root{
    --size:25vmin;
    --mark:calc(var(--size)*0.85);
}
.board{
    width: 100vw;
    height: 90vh;
    display:grid;
    justify-content: center;
    align-items: center;
    align-content:center ;
    justify-items: center;
    grid-template-columns: repeat(3,var(--size));
    grid-template-rows: repeat(3,var(--size));

}
.score {
    height: 10vmin;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    align-items:center;
    justify-content: center;
}
.ywin,.xwin,.xsym,.ysym{
    width:calc(var(--mark)*0.28);
    height: calc(var(--mark)*0.24);
    font-size: 5vmin;
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
}

.ywin{
    justify-content: left;
    padding-left: calc(var(--mark)*0.07);
}
.xwin{
    justify-content: right;
    padding-right: calc(var(--mark)*0.07);

}
.ywin,.ysym{
    text-align: right;
    border-left: 1px solid white;
}
.xwin,.xsym{
    text-align: left;
    border-right: 1px solid white;

}

.xsym::after,
.xsym::before{
    content: '';
    width: calc(var(--mark)*0.0327);
    height:calc(var(--mark)*0.2);
    background-color: white;
    position: absolute;
}

.ysym::after,.ysym::before{
    content: '';
    border-radius: 50%;
    position: absolute;
}
.ysym::after{
    width: calc(var(--mark)*0.128);
    height:calc(var(--mark)*0.128);
    background-color: #222;
    position: absolute;
}
.ysym::before{
    width: calc(var(--mark)*0.2);
    height:calc(var(--mark)*0.2);
    background-color: white;
    position: absolute;
}

.cell{
    width: var(--size);
    height: var(--size);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    /* border-radius: 10%; */
}

#x.cell:hover,#o.cell:hover{
    cursor:not-allowed;
}

#x.cell::before,
#x.cell::after,
#x.board .cell:not(#x):not(#o):hover::before,
#x.board .cell:not(#x):not(#o):hover::after{
    content: '';
    width: calc(var(--mark)*1.1);
    height:calc(var(--mark)*0.18);
    background-color: white;
    position: absolute;
}
#x.cell::before,#x.board .cell:not(#x):not(#o):hover::before,.xsym::before{
    transform: rotate(45deg);
}
#x.cell::after,#x.board .cell:not(#x):not(#o):hover::after,.xsym::after{
    transform: rotate(-45deg);
}

#x.board .cell:not(#x):not(#o):hover::before,
#x.board .cell:not(#x):not(#o):hover::after{
    background-color:#777;
}

#o.cell::before,
#o.cell::after,
#o.board .cell:not(#x):not(#o):hover::before,
#o.board .cell:not(#x):not(#o):hover::after{
    content: '';
    border-radius: 50%;
    position: absolute;
}
#o.cell::before,#o.board .cell:not(#x):not(#o):hover::before
{
    width: var(--mark);
    height:var(--mark);
    background-color: white;
    position: absolute;
}

#o.cell::after,#o.board .cell:not(#x):not(#o):hover::after{
    width: calc(var(--mark)*0.64);
    height:calc(var(--mark)*0.64);
    background-color: #222;
    position: absolute;
}

#o.board .cell:not(#x):not(#o):hover::before{
    background-color:#777;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: 0;
}
.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: 0;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: 0;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: 0;
}

.msg{
    display:none;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: sans-serif;
}
.win{
    color:black;
}
#winner{
    font-size: 2rem;
    padding: .125em .25em;
    border: 1px solid white;
    color: white;
    background-color: black;
}
#winner:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
    
}
#show.msg{
    display: flex;
}